<!DOCTYPE html>
<%- include ('../partials/head') %>
<link rel="stylesheet" href="\css\authors.css">
    <title>Document</title>
</head>
<body>
    <header><%- include ('../partials/header') %></header>

    <main><br>


        <h2 class="author-titulo">Sobre el Autor</h2>

<section class="author-princ"> 
    <img class="author-img" src="\img\alice-oseman.jpg" alt="">
    <div class="author-desc">
        <h3 class="author-name"><%= autor.name %></h3>
        <p class="author-bio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus eaque deleniti assumenda modi, harum iure ut expedita illum ea quia laboriosam, natus distinctio non vitae alias eligendi doloribus. Debitis, similique!</p>
    </div>
</section>

<h2 class="author-titulo">Más Títulos de </h2>



    <br></main>

    <footer><%- include ('../partials/footer') %></footer>
</body>
</html>