<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="/css/index.css" rel="stylesheet"> 
    <link  href="/css/styles.css" rel="stylesheet">
    <title>Prisma</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Quicksand&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <div class="conte-header">

           
            <div class="barra-busqueda-header">
           
                <input class="input-header" type="text" placeholder="Buscar">
                <div class="button-header">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
           
            </div>
           
        
            <div class="conte-logo-prisma">
                <a href="/"><img class="logo-prisma" src="/img/Logo-Blanco-P.svg" alf="logo-prisma"></a> 
            </div>
            

            <div class="nav_list">

                <div>
                <a class="nav_icon" href="#" class="nav_link"><i class="fa-solid fa-bars"></i></a>
                </div>

                <div>
                    <a class="nav_icon" href="product/cart" class="nav_link"><i class="fa-solid fa-bag-shopping"></i></a>
                 </div>

                <div>
                    <a class="nav_icon" href="user/login" class="nav_link"><i class="fa-solid fa-circle-user"></i></a>
                </div>
            </div>
            
        </div>
    </header>
    
    <main>
        <br>
        <section class="oferta">
        <img class="banner" src="/img/Banners/Heartstopper-banner.jpg" alf="banner.heartstopper">
        </section>

        <h2>Novedades</h2>
        <section class="list-articulos">
            <% libros.forEach((product) =>{ %>
                <article class="articulo">
                <img class="img-articulo" src="<%= product.portada %>" alf="<%= product.titulo %>">  
                <div class="desc-articulo">
                <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                <p class="signo-precio-art">$</p><p class="precio-articulo"><%= product.precio %></p>
                <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                </div>
            </article>
            <% }); %>


            <article class="articulo-oculto-1">
                <img class="img-articulo" src="/img/portadas/el-alquimista.jpg" alf="El Alquimista">  
                <div class="desc-articulo">
                <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                <p class="signo-precio-art">$</p><p class="precio-articulo">11.739,00</p>
                <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                </div>
            </article>
    
            <article class="articulo-oculto-2">
                <img class="img-articulo" src="/img/portadas/cheack-mate.jpg" alf="Cheack Mate">  
                <div class="desc-articulo">
                <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                <p class="signo-precio-art">$</p><p class="precio-articulo">10.200,00</p>
                <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                </div>
            </article>

            <article class="articulo">
                <img class="img-articulo" src="/img/portadas/heartstopper-V5.jpg" alf="heartstopper 5">  
                <div class="desc-articulo">
                <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                <p class="signo-precio-art">$</p><p class="precio-articulo">11.300,00</p>
                <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                </div>
            </article>

        </section>

        <h2>Categorias</h2>
        <section class="list-categoria">
            <div class="categoria">
                <img class="img-categoria" src="/img/categorias/misterios.png" alf="Misterio"> 
                <h4 class="text-categoria">Misterio</h4>
            </div>

            <div class="categoria">
                <img class="img-categoria" src="/img/categorias/Romance.png" alf="Romance"> 
                <h4 class="text-categoria">Romance</h4>
            </div>


            <div class="categoria">
                <img class="img-categoria" src="/img/categorias/Aventuras.png" alf="Aventura"> 
                <h4 class="text-categoria">Aventura</h4>
            </div>


            <div class="categoria">
                <img class="img-categoria" src="/img/categorias/Clasicos.png" alf="Clasico"> 
                <h4 class="text-categoria">Clasicos</h4>
            </div>


            <div class="categoria">
                <img class="img-categoria" src="/img/categorias/Terror.png" alf="Terror"> 
                <h4 class="text-categoria">Terror</h4>
            </div>

            <div class="categoria">
                <img class="img-categoria" src="/img/categorias/Fantasia.png" alf="Fantasía"> 
                <h4 class="text-categoria">Fantasía</h4>
            </div>

        </section>

        
        <h2>Best Sellers</h2>
        <section class="list-articulos">
            <article class="articulo">
                <img class="img-articulo" src="/img/portadas/harry-potter.jpg" alf="Harry Potter 1">  
                <div class="desc-articulo">
                <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                <p class="signo-precio-art">$</p><p class="precio-articulo">12.900,00</p>
                <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                </div>
            </article>

            <article class="articulo-oculto-1">
                <img class="img-articulo" src="/img/portadas/los-juegos-del-hambre.jpg" alf="Los Juegos del Hambre">  
                <div class="desc-articulo">
                <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                <p class="signo-precio-art">$</p><p class="precio-articulo">15.769,00</p>
                <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                </div>
            </article>
    
            <article class="articulo-oculto-2">
                <img class="img-articulo" src="/img/portadas/romper-el-circulo.jpg" alf="Romper el circulo">  
                <div class="desc-articulo">
                <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                <p class="signo-precio-art">$</p><p class="precio-articulo">13.650,00</p>
                <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                </div>
            </article>

            <article class="articulo">
                <img class="img-articulo" src="/img/portadas/fuego-y-sangre.jpg" alf="Fuego y Sangre">  
                <div class="desc-articulo">
                <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                <p class="signo-precio-art">$</p><p class="precio-articulo">20.220,00</p>
                <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                </div>
            </article>

        </section>

    <img class="banner" src="/img/Banners/banner-harrypotter.jpg" alf="banner.harrypotter">

    <br>
    
    <h2>Más Vendidos</h2>
    <section class="list-articulos">
        <article class="articulo">
            <img class="img-articulo" src="/img/portadas/principito.jpg" alf="El principito">  
            <div class="desc-articulo">
            <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
            <p class="signo-precio-art">$</p><p class="precio-articulo">9.113,00</p>
            <a href="/productDetail"><button class="button-art">Descubrir</button></a>
            </div>
        </article>

        <article class="articulo-oculto-1">
            <img class="img-articulo" src="/img/portadas/percy-jackson.jpg" alf="Percy Jackson">  
            <div class="desc-articulo">
            <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
            <p class="signo-precio-art">$</p><p class="precio-articulo">10.120,00</p>
            <a href="/productDetail"><button class="button-art">Descubrir</button></a>
            </div>
        </article>

        <article class="articulo-oculto-2">
            <img class="img-articulo" src="/img/portadas/el-niño-pijama-rayas.jpg" alf="El niño con el pijama a rayas">  
            <div class="desc-articulo">
            <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
            <p class="signo-precio-art">$</p><p class="precio-articulo">13.499,00</p>
            <a href="/productDetail"><button class="button-art">Descubrir</button></a>
            </div>
        </article>

        <article class="articulo">
            <img class="img-articulo" src="/img/portadas/el-señor-de-los-anillos.jpg" alf="El señor de los anillos">  
            <div class="desc-articulo">
            <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
            <p class="signo-precio-art">$</p><p class="precio-articulo">19.900,00</p>
            <a href="/productDetail"><button class="button-art">Descubrir</button></a>
            </div>
        </article>  

    </section>


    <h2>Conoce Más</h2>
    <section class="mas-info">
        <img class="img-mas-info" src="/img/Banners/mas-sking.png" alf="S.King">
        <img class="img-mas-oculto" src="/img/Banners/mas-grrMartin.png" alf="GeorgeMartin"> 
        <img class="img-mas-info" src="/img/Banners/mas-harrypotter.png" alf="harrypotter">
        
    </section>


    </main>
    <footer>
        <section class="redes-footer"> 
            <a class="icon-redes-footer" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a class="icon-redes-footer" href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a class="icon-redes-footer" href="https://ar.pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
            <a class="icon-redes-footer" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a class="icon-redes-footer" href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a>
            <a class="icon-redes-footer" href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
        </section>

        <section class="nav-footer">
            <div class="info-footer">
            <h4 class="categ-footer">Información</h4> 
            <div class="detalle-footer">    
                <p>Politica de Privacidad</p>
                <p>terminos y condiciones</p>
                <p>Envíos de autores</p>
                <p>Privacidad</p>
            </div>
            </div>

            <div class="info-footer">
            <h4 class="categ-footer">Ayuda</h4>
            <div class="detalle-footer">    
                <p>Preguntas frecuentes</p>
                <p>Envío</p>
                <p>Devoluciones</p>
                <p>Contáctenos</p>
            </div>
            </div>

            <div class="info-footer">
           <h4 class="categ-footer">Más de Prisma</h4> 
           <div class="detalle-footer">
                <p>Acerca de Prisma</p>
                <p>Blog</p>
                <p>Trabajos</p>
                <p>Prensa</p>
            </div>
            </div>

            <div class="info-footer">
            <h4 class="categ-footer">Metodos de Pagó</h4>
             <div class="detalle-footer">   
                <div class="icon-pago-footer">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-amex"></i>
                <i class="fa-brands fa-paypal"></i>
                </div>
            </div>
            </div>
            <h5 class="copi-footer">© Prisma 2023</h5>
        </section>

    </footer>
</body>
</html>