<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\productDetail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<header>
</header><br>
<body>
    <section class="section1">
        <article>
            <h2 class="titulo">titulo del producto</h2>
            <div class="estrellas"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
        </article>
        <article>
            <img class="img_1" src="\img\Ocultos.jpg" alt="lugar de la imagen del producto">
        </article>
        <article class="articulo_descripcion">
            <h2 class="titulo oculto">titulo del producto</h2>
            <h3 class="subtitulo">subtitulo</h3>
            <div class="estrellas oculto"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
            <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. In nisi deleniti ipsum doloribus dolores omnis?
                Qui ipsam sequi eligendi saepe vitae dolore adipisci, laborum sed velit praesentium, quos quaerat quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. In nisi deleniti ipsum doloribus dolores omnis?
                Qui ipsam sequi eligendi saepe vitae dolore adipisci, laborum sed velit praesentium, quos quaerat quae!Lorem ipsum dolor sit amet consectetur adipisicing elit. In nisi deleniti ipsum doloribus dolores omnis?
                Qui ipsam sequi eligendi saepe vitae dolore adipisci, laborum sed velit praesentium, quos quaerat quae!</p>
        </article>
        <article class="articulo_precio">

            <nav class="oculto">
                
                <ul>
                    <li>Genero</li>
                    <li>Editorial</li>
                    <li>Cantidad de Paginas</li>
                    <li>Nivel</li>
                    <li>idioma</li>
                    <li>edad</li>
                    <li>año de edicion</li>
                    <li>formato</li>
                    <li>tipo soporte</li>
                </ul>
            </nav>
            <h2 class="h2_precio">$0000000</h2>
        </article>

    </section><br>
    
    <h2>Titulos relacionados</h2><br>

    <section class="section2">

        <article class="articulos2">
             <img class="img_2" src="\img\71z7OGtw8wL.jpg" alt="">
             <div class="div_2">Descubrir</div> 
        </article>

        <article class="articulos2"> 
            <img class="img_2" src="\img\71z7OGtw8wL.jpg" alt="">
            <div class="div_2">Descubrir</div>        
        </article>

        <article class="articulos2 oculto"> 
            <img class="img_2" src="\img\71z7OGtw8wL.jpg" alt="">
            <div class="div_2">Descubrir</div> 
        </article>

        <article class="articulos2 oculto"> 
            <img class="img_2" src="\img\71z7OGtw8wL.jpg" alt="">
            <div class="div_2">Descubrir</div> 
        </article>

    </section>

    <h2><i class="fa-solid fa-mug-saucer"></i> Sobre el Autor</h2>

    <section class="section3">

        <article class="articulos_1_3">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus labore praesentium consequuntur? Doloremque dolorem rem, error vitae ducimus veritatis ad? In esse ad perspiciatis neque commodi inventore harum. Obcaecati, eos</p>
        </article>

    
        <img class="img_3" src="\img\4163660w-640x640x80.jpg" alt="">
        


    </section>
    
</body>
</html>