<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="/css/productCart.css" rel="stylesheet"> 
    <title>Carrito </title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1>Carrito de Compras</h1>
        <div class="listaProduct">
            <div class="producto">
                <img width="10%" class="Banner" src="/img/img-cafetera-moulinex.jpg" alt="home banner">
                <div>
                    <p>Producto 1</p>
                    <p>Descripción: Descripción del Producto 1</p>
                </div>

                <div>Precio: $10.00</div>
                <div class="cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                </div>
                <button>Borrar</button>
                <a>$999,999</a>
            </div>

            <div class="producto">
                <img width="10%" class="Banner" src="/img/img-cafetera-moulinex.jpg" alt="home banner">
                <div>
                    <p>Producto 2</p>
                    <p>Descripción: Descripción del Producto 2</p>
                </div>

                <div>Precio: $20.00</div>
                <div class="cantidad">
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                </div>
                <button>Borrar</button>
                <p>$999,999</p>
            </div>
        </div>

        <!--hago el resumen de compra y subgerencias -->
        <div class="mainInferior">
            <div class="SubGerencias">

            </div> 
            <div class="ResumenCompra">
                <h2>Resumen de combra</h2>
                <div>
                    <a>SubTotal</a><a>  $99999,999</a>
                </div>
                
                <div>
                <a>Envio</a><a>  $99,999</a>
                </div>
                
                <div>
                    <a>Total</a><a>  $99999,999</a>
                </div>
                
        </div>
        </div>

</main>
<footer>

</footer>
  


</body>
</html>