<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\productDetail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Quicksand&display=swap" rel="stylesheet">
    <link  href="/css/styles.css" rel="stylesheet">
</head>
<header>
    <div class="conte-header">

       
        <div class="barra-busqueda-header">
       
            <input class="input-header" type="text" placeholder="Buscar">
            <div class="button-header">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
       
        </div>
       
    
        <div class="conte-logo-prisma">
            <a href="/"><img class="logo-prisma" src="/img/Logo-Blanco-P.svg" alf="logo-prisma"></a> 
        </div>
        

        <div class="nav_list">

            <div>
            <a class="nav_icon" href="/login" class="nav_link"><i class="fa-solid fa-bars"></i></a>
            </div>

            <div>
                <a class="nav_icon" href="/productCart" class="nav_link"><i class="fa-solid fa-bag-shopping"></i></a>
             </div>

            <div>
                <a class="nav_icon" href="login" class="nav_link"><i class="fa-solid fa-circle-user"></i></a>
            </div>
        </div>
        
    </div>
</header> 
<body>
    <br>
    <section class="section1">
        <article class="ocultar_2">
            <h2 class="titulo">Heartstopper 5 - Alice Oseman</h2>
            <div class="cont_estrellas "><i class="fa-solid fa-star estrella"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
        </article>
        <div class="cont_img1">
            <img class="img_1" src="\img\heartstopper-V5.jpg" alt="lugar de la imagen del producto">
        </div>
        <article class="articulo_descripcion">
            <div class="cont_oculto">
                <h2 class="titulo oculto">Heartstopper 5 - Alice Oseman</h2>
                <div class="cont_sub">
                    <h3 class="subtitulo">HEARTSTOPPER 5</h3>
                </div>
                <div class="cont_estrellas oculto"><i class="fa-solid fa-star estrella"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                <p class="texto">Nick y Charlie están más enamorados que nunca y dan un paso muy importante en su relación. Mientras tanto, Nick empieza a visitar universidades para el próximo año, entonces una duda se instala en su cabeza: ¿será capaz de vivir sin Charlie? ¿Soportarán una relación a distancia?</p>
            </div>
        </article>
        <article class="articulo_precio">

            <nav class="oculto">
                
                <ul>
                    <li><a href="">Genero</a></li>
                    <li><a href="">Editorial</a></li>
                    <li><a href="">Cantidad de Paginas</a></li>
                    <li><a href="">Nivel</a></li>
                    <li><a href="">Idioma</a></li>
                    <li><a href="">Edad</a></li>
                    <li><a href="">Año de edicion</a></li>
                    <li><a href="">Formato</a></li>
                    <li><a href="">Tipo soporte</a></li>
                </ul>
            </nav>
            <div class="div_oculto">
            <h2 class="h2_precio">$11.300,00</h2>
            <div class="div_1"><a href="/productCart" class="agregar_al_carrito">Agregar al carrito <i class="fa-solid fa-basket-shopping canasta"></i></a></div>   
            </div>
            <h2 class="h2_precio sec_ocult ">$11.300,00</h2>
            <div class="div_1 sec_ocult"><a href="/productCart" class="agregar_al_carrito">Agregar al carrito <i class="fa-solid fa-basket-shopping canasta"></i></a></div>   
        </article>

    </section>
    
    <h2>Titulos relacionados</h2>

    <section class="section2">

        <article class="articulos2">
             <div class="cont_img2">
             <img class="img_2" src="\img\Solitarie.jpg" alt="">
             </div>

             <div class="cont_div"> 
             <a href="/productCart"><i class="fa-solid fa-cart-shopping comprar"></i></a>
             <div class="div_2"><a href=""class="agregar_al_carrito"> Descubrir</a></div> 
            </div>
        </article>

        <article class="articulos2">
            <div class="cont_img2">
            <img class="img_2" src="\img\heartstopper-yearbook.jpg" alt="">
            </div>

            <div class="cont_div"> 
                <a href="/productCart"><i class="fa-solid fa-cart-shopping comprar"></i></a>
            <div class="div_2"> <a href=""class="agregar_al_carrito">Descubrir</a></div> 
           </div>
       </article>

        <article class="articulos2 oculto">
        <div class="cont_img2">
            <img class="img_2" src="/img/Solitarie.jpg" alt="">
            </div>

            <div class="cont_div" > 
            <a href="/productCart"><i class="fa-solid fa-cart-shopping comprar"></i></a>
            <div class="div_2"><a href=""class="agregar_al_carrito"> Descubrir</a> </div> 
        </div>
        </article>

    </section>

    <h2> Sobre el Autor</h2>

    <section class="section3">
        <div class="autor">
            <article class="cont_descrip3">
                <h4 class="nombre_autor">Alice Oseman</h4>
                <p class="p_desc_autor">Alice May Oseman (Chatham, Kent; 16 de octubre de 1994)1​ es una escritora, guionista e ilustradora británica de literatura juvenil. Es principalmente conocida por su novela gráfica Heartstopper. Ha sido elogiada por la crítica especializada y ha recibido diversos premios como los Inky Awards y United By Pop Awards.</p>
            </article>
            <div class="cont_img3">
            <img class="img_3" src="\img\alice-oseman.jpg" alt="">
            </div>
        </div>
        
    </section>

    <h2>Comentarios</h2>

    <section class="section4">
        
        <article class="cont_coment2">
            <h3 class="tamaño">Josefina Bolañez</h3>
            <p class="tamaño">Es una novela muy interesante que te sumerge en la vida de los personajes,permitiendo empatizar con su relato a través de situaciones cotidianas. Fluye y no resulta aburrida, consigue atraparte en cada capítulo</p>
            <div class="cont_iconos">
                <div class="cont_estrellas4"><i class="fa-solid fa-star estrella"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                <i class="fa-solid fa-angle-down icono_abajo"></i>
            </div>        
        </article>

        <article class="cont_coment2">
            <h3 class="tamaño">Monica Ruiz</h3>
            <p class="tamaño">soy madre de un adolescente de 17 años, a partir de la lectura de este libro logré comprender otra perspectiva del mundo actual y conocer más sobre mi hijo. Recomiendo totalmente, hermosa lectura</p>
            <div class="cont_iconos">
                <div class="cont_estrellas4"><i class="fa-solid fa-star estrella"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                <i class="fa-solid fa-angle-down icono_abajo"></i>
            </div>
         </article>
         <article class="cont_coment2 coment_ocult">
            <h3 class="tamaño">Natalia jimenez</h3>
            <p class="tamaño">Es una novela gráfica hermosa y que vale la pena leerla, fácil de leer y entender. Sin duda una de mis lecturas favoritas. <br> <br>  <br></p>
            <div class="cont_iconos">
                <div class="cont_estrellas4"><i class="fa-solid fa-star estrella"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                <i class="fa-solid fa-angle-down icono_abajo"></i>
            </div>
         </article>

         <article class="cont_coment2 coment_ocult">
            <h3 class="tamaño">Norma Dominguez</h3>
            <p class="tamaño">AMÉ este libro vi primero la serie la verdad pero luego me dispuse a comprar los libros y no me arrepiento. <br> <br>  <br> <br></p>
            <div class="cont_iconos">
                <div class="cont_estrellas4"><i class="fa-solid fa-star estrella"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                <i class="fa-solid fa-angle-down icono_abajo"></i>
            </div>
         </article>

    </section>

    <h2>Deja tu comentario</h2>

    <section class="section5">
        <article class="cont_1">
            <div class="cont_estrellas4">
                <i class="fa-solid fa-star estrella"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                Califica el Libro
            </div>
        </article>
           
          <div class="cont_deja_comentario">
            <form >
                <textarea  name="message" rows="4"  class="coment">
                
                </textarea>
              </form>
            </div>


    </section><br>
    <h2>Vista Previa</h2>

    <section class="section6">
        <div class="contenedor_principal">
        <article class="contenedor1">
            <div class="contenedor_img">
            <img src="" alt="">
            </div>
        </article>

        <article class="contenedor2">
            <i class="fa-solid fa-chevron-up"></i>
            <i class="fa-solid fa-chevron-down"></i>
        </article>
        </div>
    </section><br>

    <footer>
        <section class="redes-footer"> 
            <a class="icon-redes-footer" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a class="icon-redes-footer" href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a class="icon-redes-footer" href="https://ar.pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
            <a class="icon-redes-footer" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a class="icon-redes-footer" href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a>
            <a class="icon-redes-footer" href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
        </section>

        <section class="nav-footer">
            <div class="info-footer">
            <h4 class="categ-footer">Información</h4> 
            <div class="detalle-footer">    
                <p>Politica de Privacidad</p>
                <p>terminos y condiciones</p>
                <p>Envíos de autores</p>
                <p>Privacidad</p>
            </div>
            </div>

            <div class="info-footer">
            <h4 class="categ-footer">Ayuda</h4>
            <div class="detalle-footer">    
                <p>Preguntas frecuentes</p>
                <p>Envío</p>
                <p>Devoluciones</p>
                <p>Contáctenos</p>
            </div>
            </div>

            <div class="info-footer">
           <h4 class="categ-footer">Más de Prisma</h4> 
           <div class="detalle-footer">
                <p>Acerca de Prisma</p>
                <p>Blog</p>
                <p>Trabajos</p>
                <p>Prensa</p>
            </div>
            </div>

            <div class="info-footer">
            <h4 class="categ-footer">Metodos de Pagó</h4>
             <div class="detalle-footer">   
                <div class="icon-pago-footer">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-amex"></i>
                <i class="fa-brands fa-paypal"></i>
                </div>
            </div>
            </div>
            <h5 class="copi-footer">© Prisma 2023</h5>
        </section>

    </footer>
    
</body>
</html>