:root{
    --celeste: #7BCCC0;
    --blanco: #FAFCFE;
    --azul-oscuro: #152636;
    --cian: #00C7AA;
    --anaranjado: #F94D01;
    --gris-claro: #E5E3DF;
    --gris-petroleo: #3E6C6A;
    }
    
*



/*      Estilos de Editar  y crear   */   
.conte-carga-edicion{
    background-color: #7BCCC0;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;

}

.form-carga-ediccion{
    margin: auto;
}



.titulo-form-carga{
    color: var(--azul-oscuro);
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px;
    
}

.conte-titulo-form-carga{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.icon-form-carga{
    color: var(--azul-oscuro);
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    width: 10%;
}

.icon-form-carga-flecha{
    color: var(--azul-oscuro);
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    width: 10%;
}


.titulo-icon-form-carga{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.input-text{
    flex: 1;
    padding: 7px;
    border: none;
    outline: none;
    width: 95%;
    border-radius: 5px;
    color: #152636; 
    text-align: center;
}

.datos-text-form{
    color: var(--blanco);
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
}

.btn-form{
    width: 95%;
    color: white;
    background-color: var(--cian);
    border-radius: 5px;
    height: 35px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 1s;
}

.btn-form:hover{
    background-color: var(--anaranjado);
}

.valido{
    background-color: rgba(144, 238, 144, 0.267);
    border: 2px solid var(--blanco);
}

.invalido{
    background-color: rgba(240, 128, 128, 0.541);
    border: 2px solid var(--blanco) ;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}

.error {
    margin-top: 15px;
    border: 1px solid red;
    align-items: center;
}

input:invalid+.error-message {
    display: block;
}

@media (min-width: 769px) {
    .form-carga-ediccion{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

    }

    .celda{
        width: 40%;
        margin-bottom: 10px;
    }

    .celda-btn{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        justify-content: center;
   
    }

    .btn-form{
        margin-bottom: 10px;
    }

    .icon-form-carga{
        font-size: 2em;
    }

    .icon-form-carga-flecha{
        font-size: 2em;
    }

    .titulo-form-carga{
        font-size: 2em;
    }

}

@media (min-width: 1024px) {
    .celda{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 45%;
        margin-bottom: 30px;
    }

    .input-text{
        width: 60%;
    }

    .datos-text-form{
        width: 20%;
        align-items: start;
    }
    .celda-btn{
        width: 45%;
        align-items: center;
        margin-bottom: 15px;
        justify-content: center;
    }

    .conte-carga-edicion{
        width: 90%;
    }

    .form-carga-ediccion{
        justify-content: space-evenly;
        align-content: center;
    }

    .btn-form{
        width: 100%;
    }

}






  


/*      Estilos del Center      */
.Center{
    width: 100%; /* Abarca todo el ancho disponible */
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

.Center .SearchBox{
    background-color: #7BCCC0;
    border-radius: 5px;
}
.Center .IndexList{
    background-color: #7BCCC0;
    border-radius: 5px;


    padding-bottom: 30px;

}

.Center .Producto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--blanco);
    border-radius: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 150px;
    margin-right: 10px;
    margin-left: 10px;
   

}

.Center .IndexList .SubTitulo{
    display: flex;
    justify-content: space-evenly;
}
.Center .SearchBox{
    margin-bottom: 10px;
    padding: 10px;
}

.Center .SearchBox .button{
    background-color:#F94D01;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding-top: 5px;



    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    transition: .3s ease all;
}
.Center .SearchBox .button:hover{
    background-color: var(--cian);
    color: var(--azul-oscuro);
}


.Center .SearchBox-form{
    display: flex;
    justify-content: center;
}
.Center .SubTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Center img{
    width: 70px;
}

.action-button{
    color: #00C7AA;
    outline: none;
    border: none;
    font-size: 1.5em;
    background-color: var(--blanco);
}

.editar-detalle-delete{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    width: 25%;
}

.editar-detalle{
    text-decoration: none;
    color: #152636;
    margin: 5px;
    font-weight: bold;
}

.titulo-autor-producto{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
    align-items: center;
}

.titulo-autor{
    color: #3E6C6A;
}

.titulo-producto{
    color: #F94D01;
    font-weight: bold;
    margin: 5px;
}

.product-box_image{
    margin: 20px;
    width: 25%;
}

.input-text-busq{
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    width: 80%;
    border-radius: 10px;
    color: #152636; 
    text-align: center;
}

.button-busq{
    color: var(--blanco);
    outline: none;
    border: none;
    font-size: 1.3em;
    background-color: var(--celeste);
}

.lista-libros-busq{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

.icon-carga-producto{
    outline: none;
    border: none;
    background-color: var(--celeste);
    color: var(--blanco);
    cursor: pointer;
    transition: all 2s;
    font-size: 2em;
}

.icon-carga-producto:hover{
    color: #F94D01;
}

@media (min-width: 769px){
    .lista-libros-busq{
        width: 60%;
    }
}

@media (min-width: 1024px){
    .Center{
        width: 90%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .Productos{
        width: 90%;
        margin: auto;
    }

    .lista-libros-busq{
        width: 40%;
    }

    .icon-carga-producto{
        font-size: 2.5em;
    }

    
}


/*             Codigo general   tener mucho cuidado */

/*es el mismo estilo de los bustitulos de los 3 componentes */
.SubTitle i{
    font-size: 30px;
}
.SubTitle p{
    padding-left: 10px;
    font-size: 25px;
}




 /*
     <style>
       

        .mobile-menu a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            
        }
        .mobile-menu ul {
            padding: 0;
            margin: 24px 0 0;
            list-style: none;
         
        }
    
        .mobile-menu ul li {
            margin-bottom: 24px;
        }
    
        </style>
         <div class="mobile-menu inactive">
            <ul>
              <li>
                <a href="/">Categorias</a>
              </li>
              <li>
                <a href="/">todas</a>
              </li>
              <li>
                <a href="/">Misterio</a>
              </li>
              <li>
                <a href="/">Romance</a>
              </li>
              <li>
                <a href="/">Aventura</a>
              </li>
              <li>
                <a href="/">Terror</a>
              </li>
              <li>
                <a href="/">Fantasia</a>
              </li>
            </ul>
        </div>

        <script>
        const menuHumbeIcon = document.querySelector('#HabuIcon');
        const mobilMenu = document.querySelector('.mobile-menu');



        menuHumbeIcon.addEventListener('click',toggleMobilemenu );

        function toggleMobilemenu(){
            mobilMenu.classList.toggle('inactive');
        }
    </script>
 
 */ 