:root{
    --celeste: #7BCCC0;
    --blanco: #FAFCFE;
    --azul-oscuro: #152636;
    --cian: #00C7AA;
    --anaranjado: #F94D01;
    --gris-claro: #E5E3DF;
    --gris-petroleo: #3E6C6A;
    }

*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
   margin: 0;
  
}


main{
    background-color: var(--blanco);
    margin: auto;
}



/* seccion banner */
.banner{
    width: 100%;
}




/* seccion articulos */
.cont-articulos{
    display: flex;
    flex-wrap: wrap;
   
}




.sliders-categ{
    padding: 0px 20px 0px 20px;
}
      
.sidebar-categ .categoria{
     flex: 0 0 33%; }


     .sidebar-categ {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        overflow-y: auto; 
        transition: width 0.3s;
      }
      
    .sidebar-categ::-webkit-scrollbar {
        width: 10px;
      }
      
    .sidebar-categ::-webkit-scrollbar-thumb {
        background: var(--gris-claro); 
        border-radius: 50px;
        cursor: pointer;
        transition: all 2s;
      }
      
      .sidebar-categ::-webkit-scrollbar-thumb:hover {
        background: var(--celeste) ;
    
      }
      
      .sidebar-categ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px grey; 
        border-radius: 10px;
      }
      
      
     


.img-categoria{
    width: 85%;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.categoria{
    background-color: var(--gris-claro);
    border-radius: 15px;
    margin: 7px;
    cursor: pointer;
    transition: all 2s;
    border: none;
}

.categ{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.list-categoria{

    justify-content: space-evenly;
    align-items: center;
}

.text-categoria{
    color: var(--gris-petroleo);
    text-align: center;
    font-family: 'Merriweather', serif;
    margin-top: 13px;
    font-size: 0.8em;
    
}

h2{
    color: #F94D01;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.mas-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    
}

.img-mas-info{
    width: 40%;
    margin: 5px;
}

.img-mas-oculto{
    display: none;
    width: 30%;
    margin: 5px;
}




.slider-banner {
	width: 100%;
    height: auto;
	overflow: hidden;
}

.slider-banner ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-banner li {
	width: 100%;
	list-style: none;
}

.slider-banner img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}






@media (min-width: 769px) {

    .sidebar-categ .categoria{
        flex: 0 0 25%; 
        margin: 10px;
    }
   

    main{
        font-size: 22px;
    }

}

@media (min-width: 1024px) {
 

    .sidebar-categoria{
        margin: 40px;
    }

    .img-mas-info{
        width: 30%;
    }

    .img-mas-oculto{
        display: block;
    }

    .categoria:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    }

    .sidebar-categ .categoria{
        flex: 0 0 15%; 
        margin: 15px;
    }

}







