

:root{
    --celeste: #7BCCC0;
    --blanco: #FAFCFE;
    --azul-oscuro: #152636;
    --cian: #00C7AA;
    --anaranjado: #F94D01;
    --gris-claro: #E5E3DF;
    --gris-petroleo: #3E6C6A;
    }

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


body {
    margin: 0; 
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}


.logo {
    
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #23BFF2;*/
}

.imagen{
    width: 30%;
    padding: 5px;
    font-size: 3rem;
    cursor: pointer;
}

.contenedor {
    background-color: white;
    width: 100%;
    padding: 15px;
}

.form-caja{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario {
    background-color: var(--celeste);
    margin: 30px;
    padding: 3px;
    width: 80%;
    border-radius: 5px;
    

}

h1 {
    text-align: center;
    color: #000;
    font-size: 1rem;
    font-weight: bolder;
}

/* input[type="email"],
input[type="password"] { */
.input-txt {
    outline: none;
    background-color: white;
    font-size: 14px;
    width: 90%;
    padding: 10px;
    border: none;
}

.error {
    margin-top: 15px;
    border: 1px solid red;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}


.check {
    font-size: 20px;
    margin-top: 15px;
    width: auto;
}

.input-contenedor-imagen{
    margin-top: 15px;
    border: 1px solid #aaa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

}

.input-contenedor {
    margin-top: 15px;
    border: 1px solid #aaa;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.redirect-login {
    text-decoration: none;
    color:black;
}

.redirect-login:hover {
    color:#23BFF2;
}

button {
    display: block;
    width: 96%;
}

.icon {
    width: 10%;
    min-width: 50px;
    text-align: center;
    color: #999
}

.button {
    border: none;
    width: 100%;
    color: var(--azul-oscuro);
    font-size: 20px;
    background-color: var(--celeste);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: var(--anaranjado);
    color: var(--blanco);
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: var(--cian) ;
    font-weight: 600;
}

.link:hover {
    color: lightskyblue
}

input:invalid {
    background-color: #f7adad2e;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}

input:invalid+.error-message {
    display: block;
}


.valido{
    border: 1px solid #9dd39d;
}

.invalido{
    border: 1px solid #f85757;
}

.bien{
    background-color: #91f3e47e;
    outline: none;
    font-size: 14px;
    width: 90%;
    padding: 10px;
    border: none;
}

.mal{
    background-color: rgba(224, 80, 80, 0.116);
    outline: none;
    font-size: 14px;
    width: 90%;
    padding: 10px;
    border: none;
}

/*MEDIA QUERIES*/
@media(min-width:992px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 50px;
        border-radius: 2%;
        margin-bottom: 50px;
    }
}





