


:root{
    --celeste: #7BCCC0;
    --blanco: #FAFCFE;
    --azul-oscuro: #152636;
    --cian: #00C7AA;
    --anaranjado: #F94D01;
    --gris-claro: #E5E3DF;
    --gris-petroleo: #3E6C6A;
    }


* div{
    display: inline-block;
    
    }
    *{
        box-sizing: border-box;
        font-family: 'Quicksand', sans-serif;
    }





    header{
        background-color:  #7BCCC0;
        margin: auto;
        width: 100%;
       
    }
    
    .conte-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        
    }
    
    
    
    .barra-busqueda{
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 25%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .boton{
        background-color: #7BCCC0;
        color: white;
        width: 15%;
    }
    
    .buscar{
        font-size: 15px;
        border: 2px solid white;
        border-radius: 15px;
        width: 80%;
        background-color:  #7BCCC0;
        color: white;
    }
    
    .conte-logo-prisma {
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    
    .logo-prisma{
        width: 80%;
    }
    
    .nav_list{
        display: flex;
        width: 25%;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
    }
    .nav_icon{
        color: white;
        font-size: 150%;
    }
    
    .nav__link {
        text-decoration: none;
        color: white;
    }
    .agregar_al_carrito{
        text-decoration: none;
        color: #E5E3DF;
    }



    .cont_img1{
        display: flex;
        justify-content: center;
    }
    .img_1{
        width: 65%;
        opacity: 1;
    }
    article .articulo_precio {
        display: inline-block;
        margin-left: 10px;
        text-align: center;
        font-size: 20px;
        border: 1px solid black;
    }
    .section1{
        display: flex;
        width: 95%;
        flex-direction: column;
    }
    .articulo_precio{
        display: flex;
        width: 100%;
        opacity: 0.8;
        align-items: center;
        justify-content: space-evenly;
    }
    .articulo_descripcion{
        width: 100%;
        opacity: 0.8;
        text-align: center;
    }
    .titulo{
        margin-bottom: 0px;
        text-align: left;
        font-family: 'Merriweather', serif;
        color :#3E6C6A;
    }
    .cont_sub{
        display:flex;
        justify-content: center;
        width: 100%;
    }
    .subtitulo{
        margin-top: 0px;
        
    }
    .texto{
        font-size: 20px;
        margin-top: 0;
    }
    .cont_oculto{
        display: flex;
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
    }
    ul{
        list-style-type:none ;
        justify-content: left;
        margin: 0px;
        padding-top: 30px;
        padding-left: 0px;
        font-size: 20px;
    }
    ul li a{
        text-decoration: none;
        color: #152636;
        transition: 0.3s;
    }
    ul li a:hover{
       color: #F94D01;
    }
    
    .h2_precio{
        margin: 0;
        text-align: center;
        width: 30%;
        font-size:25px;
        color :#3E6C6A;
    }
    .cont_estrellas{
        font-size: 25px;
        align-items: left;
        padding-bottom: 10px;
    }
    .estrella{

    }
    body {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    
    }
    .div_1{
        width: 40%;
        display: flex;
        border: 1px solid black;
        text-align: center;
        align-items: end;
        font-size: 12px;
        margin: 10px;
        padding: 10px;
        background-color: #F94D01;
        color: white;
        border-radius: 20px;
        justify-content: space-around;
        transition: 1s;
    }
    .div_1:hover{
        background-color: #00C7AA;;
    }
    .canasta{
        font-size: 15px;
    }
    /*----------------------------------------------------------*/
    .section2{ 
        display: flex;
        width: 100%;
        justify-content:space-around;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap
    }
    .articulos2{
        width: 40%;
        background-color: #E5E3DF;
        margin-top: 10px;
        border-radius: 10px;
        transition: 1s;
    
    }
    .articulos2:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .cont_img2{
        display: flex;
        justify-content: center;
    }
    .img_2{
        padding-top: 20px;
        width: 60%;
        font-size: 30px;
    
    }
    .cont_div{
        display: flex;
        width: 100%;
        opacity: 0.8;
        align-items: center;
        justify-content: space-between
    }
    .div_2{
        border: 1px solid black;
        font-size: 12px;
        margin: 10px;
        padding: 10px;
        background-color: #F94D01;
        color: white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        transition: all 1s;
    }
    .div_2:hover{
        background-color: #00C7AA; 
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    }
    .comprar{
        font-size: 20px;
        padding: 10px;
        color: #00C7AA;
    }
    .oculto{
        display: none;
    }
    /*------------------------------------------------------------*/
    .section3{  
        display: flex;
        width: 100%;
        justify-content:space-around;
        border-radius: 5px;
        background-color:  #7BCCC0;
        height: 200px;
    }
    .autor{
        display: flex;
        width: 95%;
        align-items: center;
        
    }
    .cont_descrip3{
        display: flex;
        flex-direction: column;
        width: 80%;
        background-color: white;
        height: 70%;
        border-radius: 15px;
        justify-content: center;
        padding: 5px;
        
    }
    .nombre_autor{
        color: black;
        margin: 0;
        text-align: left;
        color: #F94D01;

    }
    .cont_img3{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    .img_3{
        width: 100px;
        height: 100px;
        position: relative;
        right: 10px;

    }
    .p_desc_autor{
        font-size: 9px;
        text-align: left;
        padding-right: 10px;
        margin: 0;
    }
    .articulo_1_3{
        width: 6%;
    
    }
    h2{
        color: #F94D01;
        text-align: center;
        font-family: 'Merriweather', serif;
    }
   /*---------------------------------------------------*/
   .section4 {
        display: flex;
        width: 100%;
        justify-content:space-around;
   }

   .cont_coment2{
    width: 40%;
    font-size: 10px;
    background-color: #E5E3DF;
    padding: 10px;
    border-radius: 10px;
   }
   .cont_estrellas4{
    font-size: 15px;
   }
   .cont_iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .icono_abajo{
    font-size: 20px;
    color: #F94D01;
   }
   /*-------------------------------------------*/
   .section5{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color:  #7BCCC0 ;

   }
   .cont_1{
    display: flex;
    width: 88%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

   }
   .cont2{
    display: flex;
    flex-direction: column;
    width: 88%;
    background-color: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
    .coment{
        font-size: 12px;
        margin: 0;
        padding-left: 10px;
    }
    .flechita{
        display: flex;
        justify-content: flex-end;
        color: #F94D01;
        font-size: 20px;
        padding-right: 10px;
    }
    /*--------------------------------------------------*/
    .section6{
        display: flex;
        width: 100%;
        justify-content: center;

    }
    .contenedor_principal{
        display: flex;
        width: 80%;
        justify-content: space-between;
        background-color:  #E5E3DF;
    }
    .contenedor_img{
        width: 80%;
        background-color: #00C7AA;
        height: 85px;
    }
    .contenedor1{
        display: flex;
        width: 100%;
        margin-top: 10px;
        margin-left: 10px;

    }
    .contenedor2{
        width: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10px;
        color: #F94D01;
    }

   /*--------------footer-----------------*/

   footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    background-color: #7BCCC0;
    width: 100%;
}


.icon-redes{
    color: white;
    font-size: 2em;
    width: 25%;
    text-align: center;
    padding: 5px;
    margin:5px
}

.redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin-top: 10px;
}

.nav-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

h4{
    color: white;
    text-align: center;
}

.info-footer{
    border-bottom: 0.5px solid white;
    width: 70%;
    padding: 10px;
}

h5{
    color: white;
    text-align: center;
    width: 70%; 
    
}

.detalle-footer{
   display: none;
}
.ocultar_2{
    display: block;
}
.div_oculto{
    display: none;
}
.coment_ocult{
    display: none;
}
.coment{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    text-align: left;
    border-radius: 10px;
    outline: none;
}
.cont_deja_comentario{
    width: 90%;
}
    @media(min-width: 769px){
        .buscar{
            font-size: 20px;
        }
        .boton{
            font-size: 25px;
        }
        .nav_icon{
            font-size: 200%;
        }
        .img_1{
            width: 50%;
        }
        .subtitulo{
            font-size: 30px;
            text-align: center;
        }
        .texto{
            font-size: 25px;
            margin-top: 0;
        }
        .h2_precio{
            font-size: 40px;
        }
        .div_1{
            font-size: 25px;
        }
        .canasta{
            font-size: 28px;
        }
        .cont_coment1{
            width: 45%;
        }
        .cont_coment2{
            width: 45%;
        }
        .tamaño{
            font-size: 20px;
        }
        .cont_estrellas4{
            font-size: 20px;
        }
        .coment{
            font-size: 15px;
        }
        .p_desc_autor{
            font-size: 15px;
            text-align: left;
            padding-right: 10px;
            margin: 0;
        }

    }
    
    @media(min-width: 1024px){
        .section1{
            flex-direction: row;
            justify-content: space-between;
        }
        .cont_img1{
            width: 30%;
        }
        .articulo_descripcion{
            width: 30%;
        }
        .articulo_precio{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 30%;
        }
        .img_1{
            width: 100%;
        }
        .oculto{
            display: inline-block;
        }
        .ocultar_2{
            display: none;
        }
        .texto{
            text-align: left;
        }
        .div_oculto{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .div_1{
            width: 100%;
            margin-top: 30px;
        }
        .h2_precio{
            width: 100%;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .articulos2{
            width: 30%;
            flex-wrap: nowrap;

        }
        .cont_div{
            justify-content: space-around;
        }
        .comprar{
            font-size: 30px;
            transition: all 0.3s;
        }
        .comprar:hover{
            font-size: 34px;
        }
        .div_2{
            font-size: 20px;
        }
        
        .coment_ocult{
            display: block;
        }
        .cont_coment2{
            width: 24%;
        }
        .tamaño{
            font-size: 15px;
        }
        .sec_ocult{
            display: none;
        }
        
        .detalle-footer{
            display: block;
            color: var(--blanco);
        }
    
        .info-footer{
            width: 20%;
            text-align: center;
            border-bottom: none;
            width: 20%;
        }
    
        .nav-footer{
            justify-content: space-around;
        }
        .icon-pago{
            font-size: 2em;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }  

        .section3{  
            display: flex;
            width: 100%;
            justify-content:space-around;
            border-radius: 5px;
            background-color:  #7BCCC0;
            height: 250px;
        }
        .autor{
            display: flex;
            width: 80%;
            align-items: center;
    }
    .cont_descrip3{
        display: flex;
        flex-direction: column;
        width: 80%;
        background-color: white;
        height: 80%;
        border-radius: 15px;
        justify-content: center;
        padding: 5px;
    }
    .img_3{
        width: 170px;
        height: 170px;
        position: relative;
        right: 10px;

    }
    .p_desc_autor{
        font-size: 20px;
        text-align: left;
        padding-right: 10px;
        margin: 0;
    }

    }
