body{
    background-color: white;
}

/*
    Damos estilos al heder
*/
header{
    border: 1px solid aqua;
    height: 30%;
}
.Buscador svg{
    background-color: rgb(0, 0, 0);
}
.ContenedorHeader{
    display: flex;
    justify-content: space-between;
}


/*
    Estilos de todo lo que esta en "main"
*/
main{
    height: 80%;
    padding-left: 20px;
    padding-right: 20px;
}
.producto button{
    background-color: blue;
    color: aliceblue;
    border-radius: 50%;
}
.subTitulo{
    display: flex;
    justify-content: space-between;
}


.listaProduct{
    border: 1px solid black;
}

.producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.producto p{
    margin-top:0px;
}


/*
    Estilos de todo lo que esta en "mainInferior"
*/
.ResumenCompra{
    
    border: 1px solid black;
    width: 350px;

}
.Product-SubGerido{
    border: 1px solid red;
    width: 150px;

}
.SubGerencias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
  
}
.mainInferior{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    
}
.Content-SubGerecias{
    height: 80%;

    
}
.titulo{
    text-align: center;
}
.Res-total{
    border-top: 1px solid green;
}
.ResumenCompra div{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Botton-compra {
    

    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    
}
button{
    text-align: center;
}


/*
    Agregando estilo al footer

    se me sale del body
*/

footer{
    border: 1px solid aqua;
    height: 200px;

}