


:root{
    --celeste: #7BCCC0;
    --blanco: #FAFCFE;
    --azul-oscuro: #152636;
    --cian: #00C7AA;
    --anaranjado: #F94D01;
    --gris-claro: #E5E3DF;
    --gris-petroleo: #3E6C6A;
    }

  
    *{
        box-sizing: border-box;
        font-family: 'Quicksand', sans-serif;
    }

/*--------------------------------------------------*/
h2{
color: #F94D01;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 20px;
}

.ocultar_2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.det-art-cont-titulo{
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: left;
    font-family: 'Merriweather', serif;
    color :#3E6C6A;
    font-size: 18px;
}

.det-art-cont-estrellas{
    font-size: 15px;
    align-items: left;
    padding-bottom: 10px;
}

.det-art-subtitulo{
    text-align: left;
    font-family: 'Merriweather', serif;
    color :#3E6C6A;
    font-size: 14px;
    margin: 0px;
}

.det-art-subtitulo-a{
    text-align: left;
    font-family: 'Merriweather', serif;
    color :#3E6C6A;
    text-decoration: none;
}



.cont_img1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    
}
.det-art-img_1{
    width: 50%;
    object-fit: contain;
    margin: auto;
}

.det-art-desk-cont_oculto{
    display: none;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.det-art-conte-desc{
    width: 100%;
}

.det-art-texto{
    width: 90%;
    font-size: 13px;
    margin: auto;
    margin-top: 10px;
}

.det-art-precio-sig{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: center;
}

.det-art-precio{
    color: #3E6C6A;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2px;
   
}

.det-art-signo-precio{
    color: var(--cian);
    font-size: 1.5em;
    font-weight: bold;
}

.det-art-precio-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.det-art-btn-cart{
    text-align: center;
    width: 25%;
    color: var(--blanco);
    font-size: 1.5em;
    cursor: pointer;
    transition: all 1s;
    
}
.det-art-btn-cart:hover{
    color: var(--blanco);
}


.det-art-detalles-precio{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.det-art-agr-btn{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--anaranjado);
    border-radius: 30px;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: all 1s;
    box-shadow:(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.det-art-agr-btn:hover{
    background-color:var(--anaranjado);
    color: #FAFCFE;
}


.det-art-agr-btn-text{
    font-size: 16px;
    text-decoration: none;
    outline: none;
    color: var(--blanco);

}

.det-art-info-item{
color: #152636;
opacity: 0.8;
font-size: 13px;
margin: 3px;
}

.det-art-info{
    display: none;
}

.section1{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.det-art-btn-edit-a{
    width: 20%;
}
.det-art-btn-edit{
    width: 100%;
    color: white;
    background-color: var(--cian);
    border-radius: 5px;
    height: 35px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 1s;
}

/*--------------------------------------------------*/

.det-aut-autor{
    display: flex;
    width: 95%;
    align-items: center;

}

.det-aut-descrip{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.det-aut-nombre{
    margin: 5px;
    text-align: left;
    color: #F94D01;
}
.det-aut-conte-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.det-aut-img{
    width: 150px;

    position: relative;
    right: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.det-aut-desc-autor{
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
    margin: 0;
}

.section3{  
    display: flex;
    width: 100%;
    justify-content:space-around;
    border-radius: 5px;
    background-color:  #7BCCC0;
    padding: 20px;
}

/*--------------------------------------------------*/
.coment-sliders{
    padding: 0px 5px 0px 5px;
  } 
  .coment-lista{
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
  }
  .coment-lista .coment-conte{
      flex: 0 0 50%;
  }
/*--------------------------------------------------*/
.section5{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color:  #7BCCC0 ;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 10px;

   }
   .det-dejacomen{
    width: 90%;
    margin: auto;
   }
   .det-dejacomen-conte{
    display: flex;
    width: 88%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
   }
    .coment{
        font-size: 12px;
        margin: 0;
        padding-left: 10px;
    }
    .flechita{
        display: flex;
        justify-content: flex-end;
        color: #F94D01;
        font-size: 20px;
        padding-right: 10px;
    }

    .coment{
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        text-align: left;
        border-radius: 10px;
        outline: none;
    }
    .cont_deja_comentario{
        width: 90%;
    }
/*--------------------------------------------------*/
.section6{
    display: flex;
    width: 100%;
    justify-content: center;

}
.det-vist-conte{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color:  #E5E3DF;
    border-radius: 5px;
}
.det-vist-conte-img{
    width: 80%;
    background-color: white;
    height: 85px;
    margin: auto;
    text-align: center;
}
.det-vist-img{
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;

}
.det-vist-flechas{
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    color: #F94D01;
}





@media(min-width: 769px){
    h2{
    font-size: 22px;
    }
    .det-art-info{
        display: block;
    }
    .cont_img1{
        width: 30%;  
    }
    .det-art-img_1{
        width: 70%;
    }
    .det-art-conte-desc{
        width: 30%;
        margin: 10px;
    }
    .det-art-detalles-precio{
        width: 30%;
        flex-direction: column;
        justify-content: space-around;
    }
    .det-art-precio-sig{
        width: 60%;
    }
    .det-art-agr-btn{
        background-color: white;
    }
    .det-art-btn-cart{
        width: 100%;
        color: var(--cian);
        font-size: 2em;
    }
    .det-art-agr-btn-text{
        display: none;
    }
    .det-art-agr-btn{
        width: 35%;
    }
    /*--------------------------------------------------*/
    .det-aut-desc-autor{
        font-size: 13px;
    }
    .det-aut-autor{
        width: 80%;
    }
    .det-aut-img{
        width: 130px;
        height: 130px;
    }
    /*--------------------------------------------------*/
    .coment-lista .coment-conte{
        flex: 0 0 30%;
    }
     /*--------------------------------------------------*/
     .det-dejacomen{
        width: 80%;
       }
    /*--------------------------------------------------*/
}

@media(min-width: 1024px){
    .section1{
        width: 80%;
    }
    .ocultar_2{
        width: 90%;
    }
    .det-art-cont-titulo{
        font-size: 22px;
    }
    .det-art-cont-estrellas{
        font-size: 17px;
    }
    .det-art-subtitulo{
        font-size: 16px;
    }
    .det-art-texto{
        font-size: 15px;
    }
    .det-art-info-item{
        font-size: 16px;
    }
   
    .det-art-precio-sig{
        font-size: 1.3em;
    }
    /*--------------------------------------------------*/
    .det-aut-desc-autor{
        font-size: 15px;
    }
    .det-aut-autor{
        width: 70%;
    }
    .det-aut-img{
        width: 150px;
        height: 150px;
    }
    .det-aut-nombre{
        font-size: 20px;
    }
    /*--------------------------------------------------*/
    .coment-lista .coment-conte{
        flex: 0 0 20%;
    }
     /*--------------------------------------------------*/
     .det-dejacomen{
        width: 70%;
    }
    /*--------------------------------------------------*/
}















   