:root{
    --celeste: #7BCCC0;
    --blanco: #FAFCFE;
    --azul-oscuro: #152636;
    --cian: #00C7AA;
    --anaranjado: #F94D01;
    --gris-claro: #E5E3DF;
    --gris-petroleo: #3E6C6A;
    }

*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.userlist-conte{
    margin: auto;
    width: 80%;
    padding: 25px;
    background-color: var(--celeste);
    border-radius: 5px;
}

.userlist-conte-usuarios{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userlist-caja-usuario{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    background-color: var(--blanco);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.userlist-conte-img{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.userlist-img{
    width: 60%;
    border-radius: 100%;
}

.userlist-titulo {
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.userlist-data{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}

.userlist-data-text{
    font-size: 13px;
    margin: 3px;
}

.userlist-data-text-titulo{
    font-size: 13px;
    margin: 3px;
    color: var(--cian);
    font-weight: bold;
}

.userlist-data-text-titulo-conte{
    display: flex;
    flex-wrap: wrap;
}





.userlist-cont-search{
    display: flex;
    justify-content: center;
}

.userlist-Search-users{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.userlist-barra-busqueda-header{
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    cursor: pointer;
    transition: all 1s;
}


.userlist-input-header{
    flex: 1;
    padding: 7px;
    border: none;
    outline: none;
    width: 20%;
    border-radius: 10px 0px 0px 10px;
    color: #152636;
    
}

.userlist-button-search{
    background-color: white;
    color: var(--azul-oscuro);
    border: none;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    font-size: 13px;
    padding: 7px;
}

.userlist-btn-conte{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.userlist-btn{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.userlist-btn-editar{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    border: none;
    color: var(--blanco);
    font-size: 13px;
    background-color: var(--cian);
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
    transition: all 1s;
}

.userlist-btn-editar:hover{
    background-color: var(--anaranjado);
}

.userlist-btn-eliminar{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    border: none;
    color: var(--blanco);
    font-size: 13px;
    background-color: var(--anaranjado);
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
}

.userlist-btn-eliminar:hover{
    background-color: var(--cian);
}

@media(min-width:769px) {
    .userlist-btn-conte{ 
    width: 20%;
    display: block;
    margin: auto;
}

.userlist-btn-editar{
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.userlist-btn-eliminar{
    width: 100%;
    padding: 8px;
    font-size: 16px;
}


}
