<section class="list-categoria">
    <a href="../product/catg" class="categoria"><div class="categ">
        <img class="img-categoria" src="/img/categorias/misterios.png" alf="Misterio"> 
        <h4 class="text-categoria">Misterio</h4>
    </div></a>

    <a href="../product/catg" class="categoria"><div class="categ">
        <img class="img-categoria" src="/img/categorias/Romance.png" alf="Romance"> 
        <h4 class="text-categoria">Romance</h4>
    </div></a>


    <a href="../product/catg" class="categoria"><div class="categ">
        <img class="img-categoria" src="/img/categorias/Aventuras.png" alf="Aventura"> 
        <h4 class="text-categoria">Aventura</h4>
    </div></a>


    <a href="../product/catg" class="categoria"><div class="categ">
        <img class="img-categoria" src="/img/categorias/Clasicos.png" alf="Clasico"> 
        <h4 class="text-categoria">Clasicos</h4>
    </div></a>


    <a href="../product/catg" class="categoria"><div class="categ">
        <img class="img-categoria" src="/img/categorias/Terror.png" alf="Terror"> 
        <h4 class="text-categoria">Terror</h4>
    </div></a>

    <a href="../product/catg" class="categoria"><div class="categ">
        <img class="img-categoria" src="/img/categorias/Fantasia.png" alf="Fantasía"> 
        <h4 class="text-categoria">Fantasía</h4>
    </div></a>

</section>