
<form action="product/catg" method="get"  name="categoria" value="categoria" class="list-categoria"> 

<div class="sliders-categ">
    <div class="lista-categ">
        
    <% genres.forEach(genero => { %>
    <button class="categoria" name="<%= genero.name %>"><div class="categ">
        <img class="img-categoria" src="/img/categorias/<%= genero.image %>" alf="Misterio"> 
        <h4 class="text-categoria"><%= genero.name %></h4>
    </div></button>
    <% }) %>
    
    </div>
</div>
</form>