
<form action="product/catg" method="get"  name="categoria" value="categoria" class="list-categoria"> 

<div class="sliders-categ">
    <div class="sidebar-categ">
        
    <% genres.forEach(genero => { %>
        <a class="categoria" href="/product/catg?Categoria=<%= genero.name %>" name="<%= genero.name %>">
            <div class="categ">
                <img class="img-categoria" src="/img/categorias/<%= genero.image %>" alf="Misterio"> 
                <h4 class="text-categoria"><%= genero.name %></h4>
            </div>
        </a>
    <% }) %>
    
    </div>
</div>
</form>