<form action="product/catg" method="get"  name="categoria" value="categoria" class="list-categoria"> 

    <% Products.Genres.forEach( genero => { %>  
    <button class="categoria" name="<%= genero.name %>"><div class="categ">
        <img class="img-categoria" src="/img/categorias/misterios.png" alf="Misterio"> 
        <h4 class="text-categoria">Misterio</h4>
    </div></button>

    <% }) %>
    
    <button class="categoria" name="romance" ><div class="categ">
        <img class="img-categoria" src="/img/categorias/Romance.png" alf="Romance"> 
        <h4 class="text-categoria">Romance</h4>
    </div></button>


   
    <button class="categoria" name="aventura"><div class="categ">
        <img class="img-categoria" src="/img/categorias/Aventuras.png" alf="Aventura"> 
        <h4 class="text-categoria">Aventura</h4>
    </div></button>
    

    
    <button class="categoria" name="clasicos"><div class="categ">
        <img class="img-categoria" src="/img/categorias/Clasicos.png" alf="Clasico"> 
        <h4 class="text-categoria">Clasicos</h4>
    </div></button>
    


    <button class="categoria" name="terror" value="grego">
        <div class="categ" >
        <img class="img-categoria" src="/img/categorias/Terror.png" alf="Terror"> 
        <h4 class="text-categoria">Terror</h4>
    </div>
</button>
    
    
    <button class="categoria" name="fantasia"><div class="categ">
        <img class="img-categoria" src="/img/categorias/Fantasia.png" alf="Fantasía"> 
        <h4 class="text-categoria">Fantasía</h4>
    </div></button>
    

</form>