<article class="coment-conte">
    <h3 class="coment-nombre">Josefina Bolañez</h3>
    <p class="coment-text">Es una novela muy interesante que te sumerge en la vida de los personajes,permitiendo empatizar con su relato a través de situaciones cotidianas. Fluye y no resulta aburrida, consigue atraparte en cada capítulo</p>
    <div class="coment-icons">
        <div class="coment-conte-star"><i class="fa-solid fa-star estrella"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
        <i class="fa-solid fa-angle-down coment-icono-abajo"></i>
    </div>        
</article>

