<section class="redes-footer"> 
    <a class="icon-redes-footer" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
    <a class="icon-redes-footer" href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
    <a class="icon-redes-footer" href="https://ar.pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
    <a class="icon-redes-footer" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
    <a class="icon-redes-footer" href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a>
    <a class="icon-redes-footer" href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
</section>

<section class="nav-footer">
    <div class="info-footer">
    <h4 class="categ-footer">Información</h4> 
    <div class="detalle-footer">    
        <p>Politica de Privacidad</p>
        <p>terminos y condiciones</p>
        <p>Envíos de autores</p>
        <p>Privacidad</p>
    </div>
    </div>

    <div class="info-footer">
    <h4 class="categ-footer">Ayuda</h4>
    <div class="detalle-footer">    
        <p>Preguntas frecuentes</p>
        <p>Envío</p>
        <p>Devoluciones</p>
        <p>Contáctenos</p>
    </div>
    </div>

    <div class="info-footer">
   <h4 class="categ-footer">Más de Prisma</h4> 
   <div class="detalle-footer">
        <p>Acerca de Prisma</p>
        <p>Blog</p>
        <p>Trabajos</p>
        <p>Prensa</p>
    </div>
    </div>

    <div class="info-footer">
    <h4 class="categ-footer">Metodos de Pagó</h4>
     <div class="detalle-footer">   
        <div class="icon-pago-footer">
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-cc-amex"></i>
        <i class="fa-brands fa-paypal"></i>
        </div>
    </div>
    </div>
    <h5 class="copi-footer">© Prisma 2023</h5>

        <!--Le pongo unas cosas de manupulacion de DOM, creo que lo tengo que dejar al final del body-->
        <script>
            const menuHumbeIcon = document.querySelector('#HabuIcon');
            const mobilMenu = document.querySelector('.mobile-menu');
    
    
    
            menuHumbeIcon.addEventListener('click',toggleMobilemenu );
    
            function toggleMobilemenu(){
                mobilMenu.classList.toggle('inactive');
            }
        </script>
</section>
