<div class="conte-header">

       
    <form class="barra-busqueda-header" action="../../../product/search" method="GET"  >
   
        <input class="input-header" type="text" placeholder="search" name="search">
        <div class="button-header">
          <button class="button-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
   
    </form>
   

    <div class="conte-logo-prisma">
        <a class="logo-prisma" href="/"><img src="/img/Logo-Blanco-P.svg" alf="logo-prisma"></a> 
    </div>

 
   <div class="nav-conte-movil">
      <div class="nav_list">
    <% if (locals.isLogged) { %>
      
      <div class="menu-hamb">
        <button class=""><img class="img-nav-icon" src="/img/users/<%= locals.userLogged.image %>"></button>
        <div class="menu-hamb-conte">
                <a href="../../../user/login"><i class="fa-solid fa-circle-user"></i> Mi Perfil</a>
                <a href="../../product/cart/home/<%= locals.userLogged.id_user %>"><i class="fa-solid fa-bag-shopping"></i> Mi Carrito</a>
                <a href="#"><i class="fa-solid fa-heart"></i> Favoritos</a>
                <% if (locals.isLogged && locals.userLogged.id_rol === 1) { %>
                <a href="#"><i class="fa-solid fa-toolbox"></i> Admin</a>
                <% } %>
                <a href="../../user/logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a>
            </div>
        </div>
  
        <% } else { %>        
      <div>
        <a class="nav_icon" href="../../../user/login" class="nav_link">
        <i class="fa-solid fa-circle-user"></i>
        </a>         
      </div>
        <% } %>
    </div>
  </div>

  <div class="nav-conte-desk">
    <div class="nav_list">
  <% if (locals.isLogged) { %>
    <div>
      <a class="nav_icon" href="../../product/cart/home/<%= locals.userLogged.id_user %>" class="nav_link" ><i class="fa-solid fa-bag-shopping"></i></a>
    </div>
    <div>
      <a class="nav_icon" href="#" class="nav_link" ><i class="fa-solid fa-heart"></i></a>
    </div>   
      <div class="menu-hamb">
          <button class=""><img class="img-nav-icon" src="/img/users/<%= locals.userLogged.image %>"></button>
          <div class="menu-hamb-conte">
              <a href="../../../user/login"><i class="fa-solid fa-circle-user"></i> Mi Perfil</a>
              <% if (locals.isLogged && locals.userLogged.id_rol === 1) { %>
              <a href="#"><i class="fa-solid fa-toolbox"></i> Admin</a>
              <% } %>
              <a href="../../user/logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a>
          </div>
      </div>
      <% } else { %>        
    <div>
      <a class="nav_icon" href="../../../user/login" class="nav_link">
      <i class="fa-solid fa-circle-user"></i>
      </a>         
    </div>
      <% } %>
  </div>
</div>
       
      
</div>






    
        

  