<div class="conte-header">

       
    <form class="barra-busqueda-header" action="../../../product/search" method="GET"  >
   
        <input class="input-header" type="text" placeholder="search" name="search">
        <div class="button-header">
          <button class="button-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
   
    </form>
   

    <div class="conte-logo-prisma">
        <a class="logo-prisma" href="/"><img src="/img/Logo-Blanco-P.svg" alf="logo-prisma"></a> 
    </div>
    

    <div class="nav_list">

      
        
            <!--locals.isLogged  si es distinto a "indefinido " -->
            <% if (locals.isLogged) { %>
             <div>
              <a class="nav_icon" href="../../../user/login" class="nav_link">
                <img class="img-nav-icon" src="/img/users/<%= locals.userLogged.image %>">
              </a> 
        </div>
            <div>
                <a class="nav_icon" href="../../product/cart/<%= locals.userLogged.id_user %>" class="nav_link" ><i class="fa-solid fa-bag-shopping"></i></a>
             </div>
              <% if (locals.userLogged.id_rol === 1) { %>
                <!--locals.userLogged  es el campo que nos da el session -->
                <div>
              <a class="nav_icon" href="/admin/formCarga" class="nav_link">
                <!--Es para poner el boton, para agregar un libro nuevo, si es admin -->
                <i class="fa-solid fa-book"></i>
              </a>
            </div>
              <% } %>
            <% } else { %>
              <div>
                <a class="nav_icon" href="/admin/formCarga" class="nav_link" ><i class="fa-solid fa-bag-shopping"></i></a>
             </div>
             
              <a class="nav_icon" href="../../user/login" class="nav_link">
                <i class="fa-solid fa-circle-user"></i>
              </a>
        </div>
            <% } %>

       

        <div>
            <a class="nav_icon" href="#" class="nav_link" id="HabuIcon"><i class="fa-solid fa-bars"></i></a>
            </div>
    </div>
    <div class="mobile-menu inactive">
      <form action="../../product/catg" method="get"  name="categoria" > 
        <ul>
          <li>
            <a class="bc" href="../../product/all">Todas</a>
          </li>
          <li>
            <button name="misterio" class="bc">Misterio</button>
          </li>
          <li>
            <button name="romance" class="bc">Romance</button>
          </li>
          <li>
            <button name="aventura" class="bc">Aventura</button>
          </li>
          <li>
            <button name="terror" class="bc" >Terror</button>
          </li>
          <li>
            <button name="fantasia" class="bc">Fantasia</button>
          </li>
        </ul>
      </form>
    </div>
    
</div>