
<section class="list-articulos">
                
    <%- include('./articulo.ejs') %>

    <article class="articulo-oculto-1">
        <a href="../product/libro:id"><img class="img-articulo" src="/img/portadas/Defiant.jpg" alf="Defiant"> </a> 
        <div class="desc-articulo">
        <a href="../product/libro:id"><p class="prodc-titulo">Defiant</p></a>
        <p class="prodc-autor">Brandon Sanderson</p>
        <a class="icon-articulo" href="../product/cart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
        <div class="precio-sig"><p class="signo-precio-art">$</p><p class="precio-articulo">18.499,00</p></div>
        </div>
    </article>

    <article class="articulo-oculto-2">
        <a href="../product/libro:id"><img class="img-articulo" src="/img/portadas/Defiant.jpg" alf="Defiant"> </a> 
        <div class="desc-articulo">
        <a href="../product/libro:id"><p class="prodc-titulo">Defiant</p></a>
        <p class="prodc-autor">Brandon Sanderson</p>
        <a class="icon-articulo" href="../product/cart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
        <div class="precio-sig"><p class="signo-precio-art">$</p><p class="precio-articulo">18.499,00</p></div>
        </div>
    </article>

    <%- include('./articulo.ejs') %>
    
</section>
