<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="\css\404.css">
    <title>Error 500</title>
</head>
<body>
    <header><%- include ('../partials/header') %></header>


    <main>
        <br>
  <section class="error-conte">
    <img class="error-img" src="/img/pato-caminando.gif" alt="patito caminando">
    <br>

  
    <div class="error-conte-text">
        <h1 class="error500-text-titulo">Ups! hemos tenido un Error</h1>
    <br>
        <h3 class="error-text-subtitulo">Intente de nuevo mas tarde</h3>
    <br>
        <a class="error-text-a" href="../../../">Home</a>
    </div>
</section>
<br><br>
</main>



<footer><%- include ('../partials/footer') %></footer>
</body>
</html>