<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    
    <link rel="stylesheet" href="\css\login.css">
    <title>Register</title>
</head>

<body>
    <header>
    <%- include ('../partials/header') %>
    </header>

    <main>

        <div class="form-caja">
            <form action="/user/register" method="post" class="formulario" enctype="multipart/form-data">
                <h1>REGISTRO</h1>
                <div class="contenedor">
                   
                    <div class="input-contenedor">
                        <i class="fa-solid fa-user icon" style="color: #838486;"></i>
                        <input class="input-txt" type="text" name="nombre" placeholder="Ingrese su Nombre" >
                    </div>

                    <div class="input-contenedor"> 
                        <i class="fa-solid fa-user icon" style="color: #838486;"></i>
                        <input class="input-txt" type="text" name="apellido" placeholder="Ingrese su Apellido" >
                        <span class="error-message">Ingresa un apellido valido.</span>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-user icon" style="color: #838486;"></i>
                        <input class="input-txt" type="text" name="usuario" placeholder="Ingrese un Usuario" >
                        <span class="error-message">Ingresa un usuario valido.</span>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-regular fa-envelope icon"></i>
                        <input class="input-txt" type="email" name="email" placeholder="Ingrese un e-mail"  >
                        <span class="error-message">Ingresa una dirección de correo electrónico válida.</span>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-key icon"></i>
                        <input class="input-txt" type="password" name="password" placeholder="Ingrese una contraseña" >
                        
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-key icon"></i>
                        <input class="input-txt" type="password" name="confirmar-password" placeholder="Confirmar contraseña" >
                        <span class="error-message">La contraseña no coincide.</span>
                    </div>
                    
                    
                    <div class="input-contenedor-imagen">
                        <input  class="input-text"  type="file" id="portada" name="img-user" accept=".jpg, .png" >
                    </div>
                    
                    <label>
                    <input class="check" type="checkbox" name="remember" value="remember"> Recordarme </label>
                    <br>
                    <p><a type="link" href="login" class="link">Ya tengo una cuenta</a></p>
            
                    <input type="submit" value="Registrarme" class="button">
                    <br>
                    
                </div>
            </form>
            </div>
    </main>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>

</html>
